html{
    background-color: #d9d6d4;
    font-family: 'Inter', sans-serif;
    color: rgba(7, 66, 98, 0.93);
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
}

header{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

#btn_change_language{
    width: auto;
}

#app_box{
    display: inline-flex;
    width: 95vw;
    justify-content: space-around;
}

#restriction_info{
    padding: 5px;
    display: flex;
    align-items: center; /* Vertical center */
}

#input_field{
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    width: 95%;
    padding: 1rem;
    height: 22rem;
    align-content: flex-start;
    border: transparent;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    font-size: 1.3rem;
    color: rgba(7, 66, 98, 0.93);
}

textarea:hover {
    background-color: #b4afaf;
    transition: background-color 0.9s ease;
}

textarea:focus {
    border-color: rgba(7, 66, 98, 0.93);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

#info_input {
    margin-left: 5px; /* For the space with the icon */
}

#btns_info_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

button {
    padding: .8em;
    width: 12rem;
    margin: .5rem;
    border-radius: 14px;
    color: rgba(7, 66, 98, 0.93);
    border-width: 1px;
    border-color: rgba(7, 66, 98, 0.93);
    background-color: rgba(225, 228, 229, 0.93);
    align-content: center;
    align-items: center;
}

#btn_encrypter{
    background-color: rgba(7, 66, 98, 0.93);
    color: #d9d6d4;
}

#btn_decrypter{

}

/* Output zone */
#output_field{
    width: 30%;
    padding-left: 5px;
    border-radius: 4px;
    text-align: center;
}

#output_text{
    width: 90%;
    height: 22.2rem;
    padding: 1rem;
    border: 1px solid #aaa;
    border-radius: 12px;
    background-color: #d9d6d4;
}

#btn_copy_text{
    display: inline-block;
}